.App {
    background-color: 121212;
    color: white;
}

main {
    margin: 3rem;
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #1a1a1a;
}

.single-text-center {
    font-size: xx-large;
    text-align: center;
    border: 1px solid white;
    margin: 5rem;
}