.App {
    color: white;
}

main {
    margin: 2rem;
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #1a1a1a;
}

.single-text-center {
    font-size: xx-large;
    text-align: center;
    border: 1px solid white;
    margin: 5rem;
}

.home {
    text-align: center;
    font-size: larger;
}
