li {
    list-style-type: none;
}

table.object-data {
    color: grey;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
}

table thead {
    background: #ea6153;
    color: white;
    font-weight: bold;
}

table tbody {
    color: black;
}

.row-darker {
    background-color: rgba(0,0,0,0.1);
}

table td {
    padding: 0.5rem;

}

#object-id {
    float: right;
    border: 1px solid transparent;
    color: white;
    font-weight: 500;
    border-radius: 1rem;
    background-color: #1a1a1a;
    padding: 1rem;
    margin-bottom: 1rem;
}

.single-object-img {
    width: 100%;
    border: 1px solid transparent;
}

.data-from {
    text-align: center;
}

.collection-name{
    opacity: 0.6;
}

.container-button-add {
    text-align: center;
}

.container-button-add button {
    padding: 1.5rem;
}

.added-to-exhibition {
    text-align: center;
}

